<ion-view view-title="Account">
  <ion-content>
    <ion-list>
	<h4>Progress</h4>
	<progress max="100" value="85"> </progress>
	<h4>Reciepts</h4>
	<table style="width:100%" align = "center" >
		<tr>
			<td> Sofa</td>
			<td>1</td>
			<td>$30</td>
		</tr>
		<tr>
		
			<td> Men's Suits</td>
			<td>3</td>
			<td>$45</td>
		</tr>
		<tr>
		
			<td> Shoes</td>
			<td>5</td>
			<td>$25</td>
		</tr>
	</table>
	
	
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Notifications
    </ion-toggle>
	  <div class="item item-input-inset">
		<label class="item-input-wrapper">
			<input type="text" placeholder="Email">
		</label>
		<button class="button button-small">
			Submit
		</button>
  </div>
  
  
    </ion-list>
  </ion-content>
</ion-view>
