<ion-view view-title="Mission">
  
  <ion-content>
    <ion-list>
	
	Your donations to Goodwill make a difference. Every day, your donations are put to work to give someone a path to a new life. With your generous support, Goodwill can help people overcome barriers to employment and self-sufficiency, through the Power of Work. Goodwill provides a hand up, not a hand out to thousands of local residents every year. Ninety cents of every dollar raised by Goodwill goes to support our mission of service to the community.
	  
  
  
    </ion-list>
  </ion-content>

</ion-view>








